<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static '/fean/images/favicon.png' %}" type="">

  <title> == SEHR GUT! == </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'fean/css/bootstrap.css'%}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'fean/css/https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' %}" />
  <!-- nice select  -->
  <link rel="stylesheet" href="{% static 'feat/css/https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css' %}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'fean/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'fean/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'fean/css/responsive.css'%}" rel="stylesheet" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    body{
        font-family: "Gowun Dodum";

    }
    input{
        font-family: "Gowun Dodum";
    }

</style>


</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'fean/images/hero-bg.jpg'%}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              SEHR GUT!
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item ">
                <a class="nav-link" href="/">ABOUT US </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ML:menuList' %}">MENU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'R:MR' %}">BOOK TABLE</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'RL:login' %}">CHECK YOUR BOOKING <span class="sr-only">(current)</span> </a>
              </li>
          
            </ul>
            <div class="user_option">
              <a href="{% url 'R:MR' %}" class="order_online">
                BOOK NOW!
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'fean/images/drink.png'%}" title="제어굿 메인 이미지" alt="home_image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Trink mit uns,<br>
                SEHR GUT! 
              </h2>
            </div>
            <p>
              설명으로 채우기~~~ ===================================<br>
              =================================================<br>
              =================================================<br>
            </p>
            <a href="">
              BOOK NOW!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  서울 서초구
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"> </i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  sehrgutt@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <h4>
              Sehr Gut
            </h4>
            <p>
              인스타그램에서 제어굿의 소식을 확인하세요!<br>
              DM을 통한 예약은 받지 않습니다:)
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>

              &nbsp; @sehr_gutt
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            연중무휴
          </p>
          <p>
            14.00시 - 24.00시<br>
            (예약시 오픈/마감 시간 조정 가능)
          </p>
        </div>
      </div>
      <div class="footer-info">
        
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'fean/js/jquery-3.4.1.min.js'%}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'fean/js/bootstrap.js'%}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'fean/js/custom.js'%}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>