<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zwei Moon">
    <meta name="description"
        content="check your personal information here, including your nickname, level, achievements and etc..">
    <title>MY PAGE</title>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/modals.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css'%}" />
    <!--owl carousel plugin-->
    <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">




    <style>
        body {
            background-image: url("{% static 'images/mp_cover.png' %}");
            background-repeat: no-repeat;
            background-position: center;
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;

        }

        p.leg_title{
            font-weight: 700;
            font-size: large;
        }

        #mbLog { position: absolute; top: 28%; left: 88%; width: 300px; height: 320px; padding: 40px; text-align: center; background-color: #E4D8DC;
 border-radius: 10px; box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); transform: translateX(-50%) translateY(-50%);}


    </style>

</head>


<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">🍽 바다거북스프 🍽</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
				{% if user.is_active %}
              <li ><a href="/">메인</a></li>
			  <li ><a href="{% url 'BM:bmark' %}">북마크</a></li>
			  <li><a href="{% url 'RT:SR' %}">별점</a></li>
			  {% else %}
			  <li><a href="/">메인</a></li>
			  {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_active %}
                <li id="myinfo" onclick="modalLog()" class="active"> <a href="#"> <span class="glyphicon glyphicon-user" ></span>{{ user.first_name }}</a></li>            
                <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
                {% else %}
              <li id="register"><a href="/account/register"><span class="glyphicon glyphicon-user"></span>회원가입</a></li>
              <li id="login"><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <div id="mpTitle">
        MY PAGE
    </div>

    <div class="container">
        <img src="{%static 'images/mp_icon.png'%}" width="120px" height="170px" id="mpIcon">

        <div id="userName">
            <p id="userLevel"  style="padding-bottom: 20px">LV. {{ user.level }} </p>
            <p id="userNick">  {{ user.first_name }}</p>
        </div>
    </div>
    <div id="legacyTitle">업적</div>


        <div class="modal" id="modalTw">
            <div class="modal_body" id="mbTw">
                <img src="{%static 'images/leg_tw.png'%}" title="짹짹, 첫 SNS 공유!" width="300px" height="380px">
             <hr>
              <p class="leg_title">짹짹!</p>
                <hr>
                           처음으로 SNS 공유를 완료했습니다!<br>
                더 많은 친구들에게 바다거북스프를 소개하세요.<hr>
            </div>
        </div>

        
        <div class="modal" id="modalRv">
            <div class="modal_body" id="mbRv">
                <img src="{%static 'images/leg_rev.png'%}" title="리벤저" width="300px" height="380px">
             <hr>
              <p class="leg_title">리벤저</p>
                <hr>
                           실패에 굴하지 않는 복수자,<br>
                5번의 시도 끝에 정답을 맞췄습니다.<hr>
            
            </div>
        </div>

        <div class="modal" id="modalHm">
            <div class="modal_body" id="mbHm">
                <img src="{%static 'images/leg_holmes.png'%}" title="명탐정 탄생" width="300px" height="380px">
             <hr>
              <p class="leg_title">명탐정 탄생</p>
                <hr>
                새로운 명탐정의 탄생입니다!<br>
                힌트를 하나도 보지 않고 정답을 맞췄습니다.<hr>
            
            </div>
        </div>

        <div class="modal" id="modalUn">
            <div class="modal_body" id="mbUn">
                <img src="{%static 'images/leg_un.png'%}" title="잠겨있는 업적" width="300px" height="380px">
             <hr>
              <p class="leg_title">잠겨있는 업적입니다</p>
                <hr>
                아직 해제되지 않은 업적입니다.<br>
                다양한 플레이를 시도하여 업적을 해제해보세요!<hr>
            
            </div>
        </div>

        <div class="modal" id="modalSf">
            <div class="modal_body" id="mbSf">
                <img src="{%static 'images/leg_selfie.png'%}" title="첫 프로필 등록" width="300px" height="380px">
             <hr>
              <p class="leg_title">우선은 셀카부터!</p>
                <hr>
                뭐든 사진부터 찍고 시작하는거 아닌가요?<br>
                첫 프로필 이미지를 등록했습니다!<hr>
            
            </div>
        </div>

        <div class="modal" id="modalCr">
            <div class="modal_body" id="mbCr">
                <img src="{%static 'images/leg_crown.png'%}" title="모든 문제 완료" width="300px" height="380px">
             <hr>
              <p class="leg_title">대관식!</p>
                <hr>
                왕관을 쓰세요!<br>
               바다거북스프의 모든 문제를 풀었습니다.<hr>
            
            </div>
        </div>


        <div class="modal" id="modalLog">
            <div class="modal_body" id="mbLog">
                <img src="{%static 'images/mp_icon.png'%}" title="리벤저" width="80px" height="80px">
             <hr>
             <p class="login_title"> {{ user.first_name }} </p>
             <br>
            ID: {{user}} <br> EMAIL: {{user.email}}
                <hr> <a href="{% url 'MP:myP' %}"><input type="button" value="마이페이지"></a>
                <a href="/account/myinfo"><input type="button" value="회원정보관리"></a>
               
            </div>
          </div>



        <div class="row">
            <div class="center col-sm-3">
                <div class="slider">
                    <div class="owl-carousel owl-theme">
                            <div class="item" onclick="modalTw()"> <img src="{%static 'images/leg_tw.png'%}" title="짹짹!"> </div>
                            <div class="item"  onclick="modalRv()"> <img src="{%static 'images/leg_rev.png'%}" title="리벤저"> </div>
                            <div class="item"  onclick="modalHm()"> <img src="{%static 'images/leg_holmes.png'%}" title="명탐정 탄생"> </div>
                            <div class="item"  onclick="modalSf()"> <img src="{%static 'images/leg_selfie.png'%}" title="첫 프로필 사진 등록"> </div>
                            <div class="item"  onclick="modalCr()"> <img src="{%static 'images/leg_crown.png'%}" title="모든 문제를 풀었습니다!"></div>
                            <div class="item"  onclick="modalUn()"> <img src="{%static 'images/leg_un.png'%}" title="아직 해제되지 않은 업적입니다"> </div>
                            <div class="item" onclick="modalUn()"> <img src="{%static 'images/leg_un.png'%}" title="아직 해제되지 않은 업적입니다"></div>
                            <div class="item" onclick="modalUn()"> <img src="{%static 'images/leg_un.png'%}" title="아직 해제되지 않은 업적입니다"></div>
                            <div class="item" onclick="modalUn()"> <img src="{%static 'images/leg_un.png'%}" title="아직 해제되지 않은 업적입니다"></div>
                    </div>
                </div>
            </div>


        <div id="otherpart">
           <a href="#"> <img src="{%static 'images/etc_play.png'%}" width="150px" height="100px" id="etcplay" title="최근 플레이"></a>
            <a href="{% url 'BM:bmark' %}"><img src="{%static 'images/etc_bookmark.png'%}" width="150px" height="100px" id="etcbm" title="북마크한 게임"></a>
            <a href="{% url 'RT:SR' %}"><img src="{%static 'images/etc_star.png'%}" width="150px" height="100px" id="etcstar" title="별점">
        </div>




</body>


</html>