<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zwei Moon">
<meta name="description" content="check your personal information here, including your nickname, level, achievements and etc.. User also can chage his/her own information here.">
    <title>MY PAGE</title>

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css'%}" />

<style>

    body{
        background-image: url("{% static 'images/mp_cover.png' %}");
        background-repeat: no-repeat; 
        background-position: center;
        width: 100vw;
    height: 100vh;
    background-size: 100% 100%;

    }

    </style>

</head>


<body>
 <div>
   <a id="mpMenu" > <img src="{%static 'images/menu_icon.png'%}" width="70px" height="70px"></a>
</div>

<div id="mpTitle" >
 MY PAGE 
</div>

<div class="container">
    <img src="{%static 'images/mp_icon.png'%}" width="130px" height="130px" id="mpIcon">

<div id="userName">
    <p id="userLevel">LV. 1 </p>
    <p id="userNick"> 나혀니</p>
</div>
</div>
<div id="legacyTitle">업적</div>
<img src="{%static 'images/mp_ibase.png'%}" width="340px" height="140px" id="legacy">

<img src="{%static 'images/leg_tw.png'%}" width="90px" height="93px" id="lgtweet" title="짹짹!">
<img src="{%static 'images/leg_rev.png'%}" width="90px" height="93px" id="lgrev" title="리벤저">
<img src="{%static 'images/leg_holmes.png'%}" width="90px" height="93px" id="lghm" title="명탐정 탄생">


<img src="{%static 'images/leg_unlocked.png'%}" width="280px" height="100px" id="legUnlocked" title="아직 열리지 않은 업적입니다!" >
<img src="{%static 'images/mp_ibase.png'%}" width="340px" height="140px" id="legacyUn">

<hr>

<div id="otherpart">
<img src="{%static 'images/etc_play.png'%}" width="150px" height="100px" id="etcplay" title="최근 플레이">
<img src="{%static 'images/etc_bookmark.png'%}" width="150px" height="100px" id="etcbm" title="북마크한 게임">
<img src="{%static 'images/etc_star.png'%}" width="150px" height="100px" id="etcstar" title="별점">
</div>
</body>
</html>