
        body {
          background-image: url("{% static 'images/bm_cover.png' %}");
          background-repeat: no-repeat;
          background-position: center;
          width: 100vw;
          height: 100vh;
          background-size: 100% 100%;

      }


       /* :root {
        --primary: #E40017;
        --secondary: #FF3D29;
        --dark: #000000;
        --light: #F3F3F3;
      } */
      

  * {
    margin: 0;
    padding: 0;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
 

  body {
    font-family: 'Gowun Dodum', sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  #card1 {
    margin: 100px auto 0;
    width: 212px;
    height: 180px;
    perspective: 1000px;
    position: absolute;
    top: 25.8%;
    left: 15.2%;

  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
    width: 400px;
    height: 430px;
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  .card__face--front h2 {
    color: #FFF;
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }

  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;

  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
    background-color: whitesmoke;

  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 19px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 15px;
    line-height: 1.4;
  }


 #ffcolor1 {
    background-color: #E40017;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

 #chcolor1 {
    background-color: #E40017;
    position: relative;
    padding: 30px 30px 40px;
    z-index: 20;
  }

  #card2 {
    margin: 100px auto 0;
    width: 212px;
    height: 180px;
    perspective: 1000px;
    position: absolute;
    top: 25.8%;
    left: 33.62%;
  }

  #ffcolor2 {
    background-color: #3a3adb;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

 #chcolor2 {
    background-color: #3a3adb;
    position: relative;
    padding: 30px 30px 40px;
  }


  #card3 {
    margin: 100px auto 0;
    width: 210px;
    height: 180px;
    perspective: 1000px;
    position: absolute;
    top: 26%;
    right: 15.3%;
  }

  
  #ffcolor3 {
    background-color: #47ba75;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

 #chcolor3 {
    background-color: #47ba75;
    position: relative;
    padding: 30px 30px 40px;
  }


  #card4 {
    margin: 100px auto 0;
    width: 212px;
    height: 180px;
    perspective: 1000px;
    position: absolute;
    top: 26%;
    right: 33.92%;
  }

  
  #ffcolor4 {
    background-color: #ffc648;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

 #chcolor4 {
    background-color: #ffc648;
    position: relative;
    padding: 30px 30px 40px;
  }