/* 폰트 css */

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&display=swap');
body {
    font-family: 'Nanum Gothic';
    text-align: center;
}

#mpTitle{
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    margin-top: 60px;
    padding-right: 39px;
    font-size: 50pt;
}

#userName{
    color: black;
    font-family:'Black Han Sans';
       font-size: 30pt;
}

#userLevel{
font-family:'Nanum Gothic';
font-weight: 700;
font-size: 18pt;
}

p{
    line-height: 1.8px;
}

#legacyTitle{
    font-family: 'Black Han Sans';
     font-size: 26pt;
     color: #461111;
}