

body{
    background-image: url("images/mp_cover.png");
    background-size: fit;
    position: relative;
}

#mpMenu{
    padding-right: 1470px;
    border: none;
    cursor: pointer;
    top: 0;
}

#mpIcon {
    position: relative;
    right: 10%;
    padding-top: 4%;
    left: 0;
    margin-right: 2%;
}

#userName{
    position: relative;
    display: inline-block;
    text-align: left;
    right: 3%;
    bottom: 15%;
}

.container{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 30%;
}

#legacyTitle{
    position: absolute;
    top: 53%;
    left: 47%;
}
#legacy{
    position: absolute;
    left: 26%;
    top: 61%;
    z-index: 1;
}

#legacyUn{
    position: absolute;
    top: 61%;
    right: 28%;
    z-index: 1;
}

#legUnlocked{
    position: absolute;
    top: 64%;
    right: 30%;
    z-index: 2;
}

#lgtweet{
    position: absolute;
    top: 64.3%;
    left: 28%;
    z-index: 2; 
}
#lgrev{
    position: absolute;
    top: 64.3%;
    left: 34.2%;
    z-index: 2; 
}
#lghm{
    position: absolute;
    top: 64.3%;
    left: 40.4%;
    z-index: 2; 
}

#otherpart{
    position: absolute;
    bottom: 1%;
    left: 33.6%;
}

hr{
    position: absolute;
    bottom: 40%;
}
