

body{
    background-image: url("images/mp_cover.png");
    background-size: fit;
    position: relative;
}

#logo{
    padding-right: 1420px;
    border: none;
    cursor: pointer;
    padding-top: 20px;

}

#mpIcon {
    position: relative;
    right: 10%;
    padding-top: 4%;
    left: 0;
    margin-right: 2%;
}

#userName{
    position: relative;
    display: inline-block;
    text-align: left;
    right: 3%;
    top: 15%;
}

#userNick{
    padding-top: 10%;
}

.container{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 30%;
}

#legacyTitle{
    position: absolute;
    top: 53%;
    left: 47%;
}

#legUnlocked{
    position: absolute;
    top: 64%;
    right: 30%;

}


#otherpart{
    position: absolute;
    bottom: 1%;
    left: 33.6%;
}

.center{
    left: 36.5%;
}