<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR RATING</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css'%}" />

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/modals.js' %}"></script>


</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">🍽 바다거북스프 🍽</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
        {% if user.is_active %}
              <li ><a href="/">메인</a></li>
              <li><a href="{% url 'QZ:quiz' %}">문제풀기</a></li>
        <li ><a href="{% url 'BM:bmark' %}">북마크</a></li>
        <li class="active"><a href="{% url 'RT:SR' %}">별점</a></li>
        {% else %}
        <li><a href="/">메인</a></li>
              <li><a href="{% url 'QZ:quiz' %}">문제풀기</a></li>
        {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_active %}
                <li id="myinfo" onclick="modalLog()" > <a href="#"> <span class="glyphicon glyphicon-user" ></span> {{ user }}</a></li>            
                <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
                {% else %}
              <li id="register"><a href="/account/register"><span class="glyphicon glyphicon-user"></span>회원가입</a></li>
              <li id="login"><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

</body>
</html>