<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css'%}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="title"><label>Quiz01</label></div>
    <section class="quiz">
        <div class="quizImg"></div>
        <div class="cont">
            <div class="quizTitle"><label>The Accident</label></div>
            <div class="quizText"><label>A car driver causes an an accident when he crashes into a bike, as he was
                    making an unexpected turm at a crossroad.
                    When the policemen arrive, another man gets arrested. The one who was driving is carried
                    home.</label></div>
        </div>
        <div class="quizContent"></div>
        <button class="btn-2">정 답</button><button class="btn-2">힌 트</button>
    </section>
    
</body>

</html>