
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>== 계정 정보 수정 ==</title>

  <script>
      function dtCheck(){
        alert("확인을 누르면 탈퇴가 완료됩니다");
      }

  </script>
</head>
<body>
    <p><h3>계정 정보를 수정하세요</h3> </p>

    <form method="post" name="frm">
        {% csrf_token %}
        사용자 ID : <input type="text" value="{{userInfo.username}}"  disabled><br>
        <input type="hidden" value="{{userInfo.username}}" name="username">
        사용자 PW : <input type="text" value="" name="password" placeholder="수정할 비밀번호 입력"><br>
    <label id="check"></label>
        이름 : <input type="text" value="{{userInfo.first_name}}" name="first_name"><br>
        성 : <input type="text" value="{{userInfo.last_name}}" name="last_name"><br>
        닉네임 : <input type="text" value="{{userInfo.nickname}}" name="nickname"><br>
        이메일 : <input type="email" value="{{userInfo.email}}" name="email"><br>
        <hr>
        <input type="submit" value="수정완료">
        <input type="reset" value="초기화">
        <a href="/"><input type="button" value="메인으로"></a>
        <a href="{% url 'deleteuser' %}"><input type="button" value="탈퇴" onclick="dtCheck()"></a>
    </form>

</body>
</html>
